<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  
    <h1>bin da</h1>

    <!-- <form class="checkout-form" [formGroup]="paymentForm">

      <input type="text" formControlName="name" placeholder="Name"/>
      <input type="text" formControlName="email" placeholder="Email">
      <input type="number" formControlName="amount" placeholder="Amount"/>
    
      <div class="stripe-card" ngxStripeCardGroup [elementsOptions]="elementsOptions">
        <h4>Enter payment details</h4>
    
        <div class="stripe-element">
          <ngx-stripe-card-number
            [options]="cardOptions"
            [elementsOptions]="elementsOptions"
          ></ngx-stripe-card-number>
        </div>
    
        <div fxLayout="row" fxLayoutGap="10px">
          <div class="w-full stripe-element">
            <ngx-stripe-card-expiry
              [options]="cardOptions"
            ></ngx-stripe-card-expiry>
          </div>
          <div class="w-full stripe-element">
            <ngx-stripe-card-cvc
              [options]="cardOptions"
            ></ngx-stripe-card-cvc>
          </div>
        </div>
      </div>
    
      <button type="submit" (click)="pay(payment_method)">Submit Payment</button>
    </form> -->
  </div>
</ion-content>
